{% extends "base.html" %}
{% load static %}
{% block content%}

<div class="row my-2">
   {% comment %} {% for experience in experience_list %}  {% endcomment %}
    <div class="jumbtron jumbtron-fluid mt-2"> 
        <h1 class="display4">Python</h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2"> 
        <h1 class="display4">Django</h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2"> 
        <h1 class="display4">HTML</h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2"> 
        <h1 class="display4">CSS</h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2"> 
        <h1 class="display4">Java Script</h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2"> 
        <h1 class="display4">React JS</h1>
    </div>
{% comment %} {% endfor %} {% endcomment %}
  
</div>
{% endblock%}